[Desktop Entry]
Type=Application
Name=iocoin-qt
Comment=IOCoinQt Wallet
Exec=/appdir/usr/bin/iocoin-qt
Icon=/appdir/usr/share/icons/hicolor/256x256/apps/icon
Categories=Network;
